<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Day 6</title>
</head>
<body>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js' integrity='sha512-PyKhbAWS+VlTWXjk/36s5hJmUJBxcGY/1hlxg6woHD/EONP2fawZRKmvHdTGOWPKTqk3CPSUPh7+2boIBklbvw==' crossorigin='anonymous'></script>

    <div id="app">
        <button v-for="(content, index) of contents" @click="count = index">{{index}}</button>
        <h1 v-for="(content, index) of contents" v-show="index === count"> {{ contents[count] }}</h1>

        <button @click="clickHandler">clickHandler</button>
        <button @click="clickHandlerWithEvent">clickHandlerWithEvent</button>

        <button v-for="(content, index) of contents" @click="clickHandlerWithDataSet" :data-index="index">{{index}}</button>

        <button v-for="(content, index) of contents" @click="clickHandler2(index, $event)" >{{index}}</button>

        <button v-for="(content, index) of contents" @click="(event)=>clickHandler2(index, event)" >{{index}}</button>

        <div @click.capture.stop.once="nestClick(1)" style="border:solid 1px #000;padding:10px;">
            <a href="#" @click.capture.stop.once="nestClick(2)" style="border:solid 1px blue;padding:10px;">
                <button @click.capture.stop.once="nestClick(3)"> AAA </button>
            </a>
        </div>

        <div @scroll.passive="scrollHandler" style="height: 200px;border: 1px solid;overflow-y: scroll;">
            <div style="height: 500px;"></div>
        </div>

        <input @keyup.17="consoleLog" type="text">

        <button @click.exact="consoleLog">A</button>

        <button @click.right.prevent="consoleLog">A</button>

    </div>
    <script>
        new Vue({
            el: '#app',
            data: {
                count: 0,
                //total: 4,
                contents: ['aaa', 'bbb', 'ccc', 'ddd']
            },
            methods: {
                clickHandler(){
                    console.log('click')
                },
                clickHandlerWithEvent(event){
                    console.log(event)
                },
                clickHandlerWithDataSet(event){
                    console.log(event)
                    this.count = (event.target.dataset.index) * 1
                },
                clickHandler2(index, event){
                    this.count = index
                    console.log(event)
                },
                nestClick(num) {
                    console.log(num)
                },
                scrollHandler() {
                    console.log('scroll')
                },
                consoleLog(){
                    console.log('consoleLog')
                },
                resizeHandler() {
                    console.log('resize')
                }
            },
            mounted() {
                window.addEventListener('resize', this.resizeHandler)
            },
            beforeDestroyed() {
                window.removeEventListener('resize', this.resizeHandler)
            }
        })
    </script>
    
</body>
</html>